{{#if version}}<br><label><b>Version:</b>    {{version}}</label>{{/if}}
<br><label><b>Revision:</b>    {{svnVersion.rev}}</label>
<br><label><b>Build:</b>    {{svnVersion.build}}</label>
<br><label><b>Core Version:</b>    {{nrmCoreVersion.version}}</label>
<br><label><b>Core Revision:</b>    {{nrmCoreVersion.rev}}</label>
