{{#if btn}}
<div class="nrm-collapse-btn">{{#with btn}}
  <button type="button" data-toggle="collapse" data-target="#{{../id}}" id="{{#if id}}{{id}}{{else}}{{../id}}-btn{{/if}}" 
        class="btn btn-{{#if btnStyle}}{{btnStyle}}{{else}}default{{/if}}{{#if className}} {{className}}{{/if}}"
        {{#if title}} title="{{title}}"{{/if}}{{#if disabled}} disabled="disabled"{{/if}}
        aria-expanded="{{#if ../expand}}true{{else}}false{{/if}}" aria-controls="{{../id}}">{{#if icon}}
    <span class="{{icon}}" aria-hidden="true"></span> {{/if}}{{#if label}}{{label}}{{else}}{{../label}}{{/if}}
  </button>{{/with}}
</div>
{{/if}}
<div id="{{id}}" class="nrm-collapse collapse{{#if expand}} in{{/if}}{{#if className}} {{className}}{{/if}}{{#if helpContext}} nrm-help-provider" 
     data-nrm-help-context="{{helpContext}}"{{else}}"{{/if}}{{#if label}} aria-label="{{label}}"{{/if}}>
{{#if content}}
   {{{content}}}
{{/if}}
{{#if template}}
   {{partial template}}
{{/if}}
{{#if fields}}
   {{partial "hiddenFields"}}
{{/if}}
</div>
