<ul class="dropdown-menu{{#if alignRight}} pull-right{{/if}}" role="menu" aria-labelledby="{{id}}">
{{#each items}}
  {{#if group}}
  <li role="presentation" class="divider"></li>
  {{/if}}
  {{#if header}}
  <li role="presentation" class="dropdown-header">{{header}}</li>
  {{/if}}
  <li role="presentation" {{#unless type}}{{#if className}} class="{{className}}{{#if disabled}} disabled{{/if}}"{{else if disabled}} class="disabled"{{/if}}{{/unless}}>
  {{#if type}}
    {{partial "dropdownForm"}}
  {{else}}
    <a id="{{id}}" role="menuitem" tabindex="-1"{{#if title}} title="{{title}}"{{/if}}
       {{#if disabled}} aria-disabled="true"{{/if}} href="{{#if href}}{{href}}{{else}}#{{/if}}">
       {{label}}
    </a>
    {{#if items}}
    {{partial "dropdown"}}
    {{/if}}
  {{/if}} 
  </li>
{{/each}}
</ul>