{{#data form=(ensureId formId)}}
{{#if shapeEdit}}<div class="row row-header">
<div class="col-md-6">{{/if}}<h3 class="nrm-form-title">{{title}}{{#if isNew}} <small><span class="label label-default nrm-editstate">New</span></small>{{/if}}</h3>
{{#if shapeEdit}}</div>
  <div class="col-md-6 form-horizontal">
        {{#with shapeEdit}}{{partial "shape"}}{{/with}}
  </div>
</div>{{/if}}
{{#if breadcrumbs}}
<ol class="breadcrumb">
{{#each breadcrumbs}}
  <li><a href="{{href}}">{{label}}</a></li>
{{/each}}
</ol>
{{/if}}
<form class="nrm-edit-form {{#if hz}}form-horizontal{{else if inline}}form-inline{{/if}}" role="form" action="#" id="{{@form}}">
{{/data}}
{{partial "panelContent"}}
<div class="row nrm-edit-form-actionsbar">
  <div class="col-sm-12">
     {{partial "formActions"}}
  </div>
</div>
</form>