<p><strong class="text-danger">{{error.message}}</strong></p>{{#if error.response}}{{#if error.isHtml}}{{{error.response.responseText}}}
{{else}}{{#if error.isText}}{{error.response.responseText}}{{else}}{{#if error.details}}
<p>{{#if error.details.allMessages}}{{#each error.details.allMessages}}{{this}}<br/>{{/each}}{{else}}{{error.details.message}}{{/if}}
</p>{{#if error.details.errorLogId}}
<div class="nrm-error-details-container">
    <button class="btn btn-xs btn-default nrm-error-details-btn" data-toggle="collapse" data-target="#nrm-error-details">More</button>
    <div id="nrm-error-details" class="nrm-error-details collapse">
      <br/>{{#if error.details.moreInfo}}<p>{{error.details.moreInfo}}</p>{{/if}}
        {{#if error.details.detailMessage}}<p>{{error.details.detailMessage}}</p>{{/if}}
      <p><b>Error Log ID: </b>{{error.details.errorLogId}}</p>
      <p>{{partial "helpdesk"}}<p/>
      <p>For best results, include the error log ID displayed above if submitting a helpdesk ticket.</p>
    </div>
</div>{{else}}
<p>{{partial "helpdesk"}}</p>
{{/if}}{{else}}<p>Server response was {{#if error.response.statusText}}{{error.response.statusText}}{{else}}undetermined{{/if}}.
</p>
<p>{{partial "helpdesk"}}</p>{{/if}}{{/if}}{{/if}}{{/if}}