<!--<div style="padding-bottom:10px;">-->
  <form class="form-horizontal" action="#" role="form">
      <div class="form-group">
          <label class="control-label col-sm-3 nrm-required-field" for="flmDataSource">Data Source</label>
          <div class="col-sm-7">
<!--          <select id="flmDataSource" class="form-control input-sm nrm-shape-flmsource nrm-shape-edit">-->
          <select id="flmDataSource" class="form-control input-sm select2" title="Data Source is required">
                {{#each dataSources}}
                        <option value="{{this.code}}"{{#if this.isSelected}} selected{{/if}}>{{this.code}}: {{this.description}}</option>
                {{/each}}
          </select>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-3 nrm-required-field" for="flmRevisionDate">Revision Date</label>
          <div class="col-sm-7">
          <input class="form-control input-sm" id="flmRevisionDate" type="date" value="{{data.revisionDate}}" required  title="Revision Date (mm/dd/yyyy) is required"></input>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-3" for="flmAccuracy">Accuracy (meters)</label>
          <div class="col-sm-7">
          <input class="form-control input-sm" id="flmAccuracy" type="number" min="0" value="{{data.accuracy}}" title="Accuracy: Difference in Meters between feature and real world location."></input>
          </div>
      </div>
      For more information, see the <a href="http://fsweb.datamgt.fs.fed.us/FeatureLevelMetadata.shtml" target="flm">Forest Service Feature Level Metadata standard</a>
<!--      <br>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-7">
              <div class="checkbox">
              <label>
              <input type="checkbox" checked="{{data.persist}}" id="flmPersist">Default to these values for new geometry</input>
              </label>
              </div>
          </div>
      </div>-->
        <button id="btnSubmit" type="submit" aria-hidden="true" class="hidden">Submit</button>
  </form>
<!--</div>-->