<form role="form" class="nrm-search-form{{#if hz}} form-horizontal{{else if inline}} form-inline{{/if}}" action="#">
{{#if parentId}}
  {{#unless hz}}
  <div class="row">
  {{/unless}}
    <div class="form-group">
       <p class="form-control-static col-sm-12"><b>{{parentType}}: </b> {{parentName}}</p>
    </div>
  {{#unless hz}}
  </div>{{/unless}}
{{/if}}
{{#each controls}}
  {{partial type}}
{{/each}}
  <div class="nrm-search-buttons">
     {{partial "toolbar"}}
  </div>
</form>