{{! 
    Provides a hidden DOM structure to discover hierarchy, may be used in hidden panels that haven't been rendered yet
    to associate the panel with properties that have business rule validation.
}}
{{#each fields}}
<span data-nrmprop="{{#if prop}}{{prop}}{{else}}{{this}}{{/if}}" aria-hidden="true"{{#if label}} aria-label="{{label}}"{{/if}}>
{{#if fields}}
  {{partial "hiddenFields"}}
{{/if}}
</span>
{{/each}}
