<div id="{{id}}-container" class="form-group">
   {{apply-label}}
 {{#if hz}}<div class="{{#if hzGrid}}{{hzGrid}}{{else}}{{#if nolabel}}col-sm-offset-2 {{/if}}col-sm-10{{/if}}">{{/if}}
  {{partial "inputInner" inputType="number"}}
 {{#if hz}}</div>{{/if}}
</div>