<label id="{{id}}-label" class="{{#if nolabel}}sr-only{{else}}{{#if hz}}{{#if labelGrid}}{{labelGrid}}{{else}}col-sm-2{{/if}} {{/if}}control-label{{/if}}
{{#if labelClass}} {{labelClass}}{{/if}}" for="{{id}}">{{label}}</label>