{{partial "advSearch"}}
{{#if error}}
  {{partial "error"}}
{{else}}
<form class="nrm-searchresults-form {{#if hz}}form-horizontal{{/if}}" role="form" action="#">
  {{#with searchResults}}
  {{#if value}}
  <div id="{{id}}-container" class="nrm-lov-results-container">
    {{#if title}}
      <h5 id="{{id}}-label"><strong>{{title}}</strong></h5>
    {{/if}}
      {{partial "table"}}
  </div>
  {{/if}}
  {{/with}}
  {{#if selectedItem}}
  {{#with selectedItem}}
  <div class="row nrm-lov-selected-container">
     <div class="{{#if grid}}{{grid}}{{else}}col-sm-12{{/if}}">
        {{partial type}}
     </div>
  </div>
  {{/with}}
  {{/if}}
</form>
{{/if}}