{{#if controls}}
{{#each controls }}{{#if ../inline}}{{partial type}}{{else}}
{{#if @index}}
{{#if group}}</div><div class="row">{{else}}
{{#unless grid}}</div><div class="row">{{/unless}}{{/if}}
{{else}}<div class="row">{{/if}}
 <div class="{{#if grid}}{{grid}}{{else}}col-sm-12{{/if}}">
{{partial type}}
</div>{{/if}}
{{/each}}
</div>
{{else}}
<p>This form has not been implemented yet.</p>
{{/if}}
