<div id="{{id}}-container" class="nrm-input-group-container"> {{#if hz}}<div class="row">
{{apply-label}} 
<div class="{{#if hzGrid}}{{hzGrid}}{{else}}{{#if nolabel}}col-sm-offset-2 {{/if}}col-sm-10{{/if}}">
{{else}}{{apply-label}}{{/if}}
<div class="input-group{{#if className}} {{className}}{{/if}}">
  <input type="hidden" id="{{id}}" value="{{value}}" class="nrm-lov-input" data-target="#{{id}}LOV" data-target-display="#{{id}}-display"/>
  <input class="form-control nrm-lov-display{{#if className}} {{className}}{{/if}}" type="text" data-target="#{{id}}" id="{{id}}-display" value="{{#if displayValue}}{{displayValue}}{{else}}{{value}}{{/if}}"
{{#if title}} title="{{title}}"{{/if}}{{#if required}} required{{/if}}{{#if disabled}} disabled{{/if}} readonly{{#if placeholder}} placeholder="{{placeholder}}"{{/if}}/>
<div class="input-group-btn">
<button class="btn btn-default nrm-lov-btn{{#if btnClass}} {{btnClass}}{{/if}}" id="{{id}}LOV" data-target="#{{id}}" type="button"{{#if caption}} title="{{caption}}"{{/if}}{{#if disabled}} disabled{{/if}}>
          <span class="glyphicon glyphicon-search"></span>
        </button>
</div>
{{#if hz}}</div></div>{{/if}}
</div>
</div>
