  <div id="{{id}}-container" class="form-group">
  {{apply-label}} 
 {{#if hz}}<div class="{{#if hzGrid}}{{hzGrid}}{{else}}{{#if nolabel}}col-sm-offset-2 {{/if}}col-sm-10{{/if}}">{{/if}}
   <select class="form-control{{#if className}} {{className}}{{/if}}" id="{{id}}"
{{#if title}} title="{{title}}"{{/if}}
{{#if required}} required{{/if}}{{#if disabled}} disabled{{/if}}{{#if multiple}} multiple{{/if}}
{{#if size}} size="{{size}}"{{/if}}>
       {{#if placeholder}}{{#unless multiple}}<option value=""{{#unless value}} selected="selected"{{/unless}}>{{placeholder}}</option>{{/unless}}{{/if}}
       {{#if optgroups}}
       {{#each optgroups}}{{#if text}}<optgroup label="{{text}}"{{#if columns}}
{{#each columns}} data-nrm-col{{@index}}="{{value}}"{{/each}}{{/if}}>
         {{partial "selectOptions"}}
       </optgroup>{{else}}{{partial "selectOptions"}}{{/if}}{{/each}}
       {{else}}
       {{partial "selectOptions"}}
        {{/if}}
      </select>
 {{#if hz}}</div>{{/if}}
    </div>