<div id="{{id}}-container"> {{#if hz}}<div class="form-group">
{{apply-label}} 
<div class="{{#if hzGrid}}{{hzGrid}}{{else}}{{#if nolabel}}col-sm-offset-2 {{/if}}col-sm-10{{/if}}">
<div class="input-group nrm-shape{{#if className}} {{className}}{{/if}}">{{else}}
{{apply-label}} 
 <div class="input-group nrm-shape{{#if className}} {{className}}{{/if}}">
{{/if}}
  {{partial "inputInner" value="" readonly=true}}
<div class="input-group-btn">
{{#with btn}}
{{partial "btn"}}
{{/with}}
</div>
{{#if hz}}</div></div>{{/if}}
</div>
</div>