{{#unless hideTabs}}
<ul class="nav nav-tabs">
    {{#each tabs}}
        <li role="presentation">
            <a 
                {{#if this.id}}id="{{this.id}}" {{/if}}
                {{#if this.title}}title="{{this.title}}" {{/if}}href="#" data-toggle="tab">
                {{#if this.iconClass}}<i class="{{this.iconClass}}"></i>{{/if}}
                {{#if this.text}}{{this.text}}{{/if}}
            </a>
        </li>
    {{/each}}
</ul>
{{/unless}}
<div {{#if id}}id="{{id}}{{/if}}"></div>
