 <div class="container" style="padding-top:15px;max-width:100%;">
    <div class="well">
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
            {{#with userInfo}}
              {{#if error}}
                <p class="lead">Authorization system error.</p>
               {{#if error.message}}
                {{partial "error"}}
               {{else}}
                <p><strong class="text-danger">{{error}}</strong></p>
                <p>{{partial "helpdesk"}}</p>
               {{/if}}
              {{else if disabled}}
                <p class="lead">Your NRM Oracle account has been disabled due to inactivity OR too many failed login attempts with an improper password.</p>
                <p>Please wait 15 minutes while it is reestablished and then log into the application again.  Thank you for your patience.</p>
              {{else}}
                <p class="lead">User is not authorized.</p>
                <p>Please go to the 
                    <a href="{{amtUrl}}" target="nrm-amt">Authorization Management Tool</a> 
                    to request access to this application.</p>
                <p>After access is granted, it may be necessary to log out and then log in again to refresh authorization status.</p>
              {{/if}}
            {{/with}}
            </div>
        </div>
    </div>
</div>